{% extends 'layout.html' %}


{% block title %}
    Add Category
{% endblock %}


{% block content %}
    <h1 class="display-1">Add category</h1>


    <!--  -->
    <form action="" method="POST" class="form">
        <div class="form-group">
            <label for="category_name">Category Name</label>
            <input type="text" class="form-control" id="category_name" name="category_name" required>
        </div>
        <button type="submit" class="btn btn-primary">
            <!-- add plus sign to the text Add -->
            <i class="fas fa-plus"></i> Add 
        </button>
    </form>
{% endblock %}